html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*************************END RESET***********************/

body, html {
	height: 100%;
}

body {
	background:#B8B8B8;
	color:#444;
	font:62.5% /1.5 Helvetica, Arial,sans-serif;
	line-height:1.5;
	text-align:center;
	border-top:5px solid #2DAEBF;
	margin-bottom:0px!important;
	/*background:#453A31;*/
}

a {
	text-decoration: none; padding:3px 5px; color: #d7d7d7;
	font-weight:bold;
}

a:hover{
	text-decoration:underline;
}

em {
    font-size:11px;
}

p {
    padding:5px;
}
h1 { font-size: 1.6em;}

div#container {
	font-size:1.2em;
	height:auto !important;
	margin:0 auto;
	min-height:700px;
	text-align:left;
	width:950px;
	border:0px solid #ccc;
	overflow:hidden;
	border:0px solid #fff;
    -moz-box-shadow: 0 0 10px #777;
    -webkit-box-shadow: 0 0 10px #777;
    box-shadow: 0 0 10px #777;	
}

div#header {
	overflow:hidden;
    width:950px; 
    margin:0 auto;
    border:0px solid #fff;
}
    
    div#header a.main-menuitem {
        height:20px;
        font-size:1.1em;
        font-weight:bold;
        width:100px; 
        color:#453A31; 
        text-align:center;
        display:inline-block;
        text-decoration:none;
        background:#eaeaea;
        border:1px solid #d7d7d7;
        border-top:0px solid #d7d7d7;
        padding-top:15px;
        -moz-border-radius-bottomright:5px; 
        -moz-border-radius-bottomleft:5px;
        -webkit-border-bottom-right-radius:5px;
        -webkit-border-bottom-left-radius:5px;
    }
    
    div#header a.main-menuitem:hover, div#header a.selected {
        background:#2DAEBF!important;
        color:#fff!important;
    }

div#sidebar {
	float:left;
	padding:0;
	width:190px;
	border:0px solid #ccc;
	margin-right:10px;
	height:auto !important;
	margin:0 auto;
	min-height:570px;
	margin-top:30px;
	background:#1F1F1F;
}
    div#sidebar a.menuitems {
    	color:#d7d7d7!important;
    	display:block;
    	padding:5px;
    	
    }
    
	div#sidebar a.iphone {
	    padding:0px!important;	    
        background: url('../img/ikon_iphone.png') no-repeat transparent;
        width:52px;
        height:27px;
        display:inline-block;	    
	}
	div#sidebar a.pc {
	    padding:0px!important;	    
        background: url('../img/ikon_pc.png') no-repeat transparent;
        width:52px;
        height:27px;
        display:inline-block;	    
	}
	div#sidebar a.psp {
	    padding:0px!important;	    
        background: url('../img/ikon_psp.png') no-repeat transparent;
        width:56px;
        height:27px;
        display:inline-block;	    
	}    
    
    div#sidebar a.menuitems:hover {
        background:#fefefe!important;
        color:#151515!important;
        text-decoration:none;
    }
    
    div#sidebar a.game-category {
    	color:#d7d7d7!important;

    }
    
    div#sidebar a.game-category:hover {
        color:#fefefe!important;
    }
    
    div#sidebar .sidebar-title {
        display:block;
        text-align:center;
        font-size:1.2em;
        color:#fff;
        font-weight:bold;
        margin:5px 0px 10px 0px;
    }
    
div#content {
	float:left;
	padding:10px;
	padding-right:0px;
    padding-top:0px;
	width:750px;
	border:0px solid #ccc;	
	background:#1F1F1F;
	color:#fefefe!important;
	height:560px;
	overflow-y:scroll;
	overflow-x:hidden;
    /*margin-top:30px;*/
  
}

    div#content fieldset {
        width:680px;
        border:1px solid #ccc;
        background:#f5f5f5;
        padding:10px;
        margin-top:10px;
    }
    
    div#content legend {
        font-weight:bold;
    }
    
    div#content label {
        width: 90px;
        display:inline-block;
        vertical-align:top;
    }   
    
    .error {
        border:1px solid red!important;
    }
    .error-msg {
        color:red!important;
    }
    
    .a-page, .a-game {
        float:left;
        overflow:hidden;
        border:0px solid #ccc;
        width:740px;
        margin-bottom:10px;
    }
    .a-page .page-images, .a-page .page-videos, .a-game .game-videos, .a-game .game-images {
        float:left;
        width:680px;
        margin-top:10px;
    }
    
    .a-page .page-content, .a-game .game-description {
        float:left;
        padding:10px;
        width:720px;
        display:inline-block;
    }
    
    .game-img-wrapper, .page-img-wrapper {
        border: 2px solid #ddd;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;	    
        padding:2px;
        margin-left:10px;
        /*opacity:0.8;*/
        width:150px;
        height:128px;
        display:inline-block!important;
        float:left;
        margin-bottom:10px;
        background:#eaeaea;    
    }
    
    .video {
        width: 480px; display:inline-block; border:0px solid #ccc; overflow:hidden; margin:10px 0!important;
        background: #eaeaea;
        padding-left:5px;
        padding-top:10px!important;
    }

    .logo {
        width:200px;
        display:inline-block;
        float:left;
        border:0px solid #ccc;
        
    }
    .appstore-link {
        display:block;
        width:172px;
        height:60px;
        background: url(../img/appstore.gif) no-repeat transparent;
        float:right;
        border:0px solid #ccc;
    }
    
    .game-inner-nav {
        float:left;
        display:block;
        width:100%;
        border:0px solid #ccc;
        margin-top:20px;
    }
    
.right {
    float:right!important;
}

.left {
    float:left;
}
		
.hidden {
    display:none;
}  

.center {
    text-align:center;
}  
    
div#errors {
    border:1px solid #ED6966;
    background:#FFBDAD;
    color: #111;
    font-weight:bold;
    padding:10px;
    width:680px;
}

div#carousel {
    width:950px!important;
    height:50px;
    background:#1F1F1F;
    padding-top:8px;
    border-top:2px solid #888;
    margin-top:-14px;
    display:block;
}
.released-games {
    position:relative;
    top:-20px;
    left:10px;
    overflow:hidden;
    display:inline;
    color:#888;
    font-weight:bold;
    font-size:11px;
    background:transparent;
    /*background:#fff;*/
}
div #carousel{
    float:left;
    border:0px solid #fff;
    width:950px;
    position:relative;
    overflow:hidden;
    
}
div#carousel #scroller {
    float:left;
    width:3382px;
    overflow:hidden;
    margin-top: 5px;
}
div#carousel li {
    padding:0 1px;
    float:left;
}

div#carousel li a {
    display:block;
    width:168px;
    height:35px ;
}

div#footer {
    float:left;
    border-top:10px solid #757575;
    border-bottom:10px solid #CACACA;
    /*background:#453A31;*/
    color:#f5f5f5;
	font-size:11px;
	text-align:center;
	width:100%;
    background: url('../img/footer_bg.png') repeat-x; 
    height: 103px; 
    margin-bottom:0px!important;
    padding:0px!important;
}

.cols {
    float:center;
    width: 450px;
    margin:0 auto!important;
    border:0px solid #000;
    overflow:hidden;
}

.col-1 {
    border:0px solid #000;
    float:left;
}

.col-2 {
    float:left;
    border:0px solid #000;
    vertical-align:top;
    text-align:left;
    padding-left:10px;
    color: #FFF; font-family: Arial, Tahoma, sans-serif; font-size: 11px;
}
	