html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*************************END RESET***********************/

body, html {
	height: 100%;
}

body {
	background:#FEFEFE;
	color:#444;
	font:62.5% /1.5 Helvetica, Arial,sans-serif;
	line-height:1.5;
	text-align:center;
	border-top:5px solid #2DAEBF;
	/*background:#453A31;*/
}

a {
	text-decoration: none; padding:3px 5px; color: #4183C4;
	font-weight:bold;
}

a:hover{
	text-decoration:underline;
}

em {
    font-size:11px;
}

p {
    padding:5px;
}
h1 { font-size: 1.6em;}

div#container {
	font-size:1.2em;
	height:auto !important;
	margin:0 auto;
	min-height:700px;
	text-align:left;
	width:950px;
	border:0px solid #ccc;
	overflow:hidden;
}

div#header {
	overflow:hidden;
    width:975px; 
}

    div#header a.main-menuitem {
        height:25px;
        font-size:1.4em;
        font-weight:bold;
        width:120px; 
        color:#453A31; 
        text-align:center;
        display:inline-block;
        text-decoration:none;
        background:#eaeaea;
        border:1px solid #d7d7d7;
        border-top:0px solid #d7d7d7;
        padding-top:15px;
        -moz-border-radius-bottomright:5px; 
        -moz-border-radius-bottomleft:5px;
        -webkit-border-bottom-right-radius:5px;
        -webkit-border-bottom-left-radius:5px;
     
        
    }
    
    div#header a.main-menuitem:hover, div#header a.selected {
        background:#2DAEBF!important;
        color:#fff!important;
    }

div#sidebar {
	float:left;
	padding:0;
	width:120px;
	border:0px solid #ccc;
	margin-right:20px;
	min-height: 120px;
	
	margin-top:10px;
}
			

div#content {
	float:left;
	padding:10px;
	width:700px;
	border:0px solid #ccc;	
	margin-top:10px;
}

    div#content fieldset {
        width:680px;
        border:1px solid #ccc;
        background:#f5f5f5;
        padding:10px;
        margin-top:10px;
    }
    
    div#content legend {
        font-weight:bold;
    }
    
    div#content label {
        width: 70px;
        display:inline-block;
        vertical-align:top;
    }   
    
    div#content input[type="text"], div#content input[type="password"], 
    div#content input[type="file"],
    div#content textarea {
        padding:5px;
        border:1px solid #ccc;
    }
    
    div#content input[type="text"]:hover, div#content input[type="password"]:hover, 
    div#content input[type="text"]:focus, div#content input[type="password"]:focus, 
    div#content textarea:focus, div#content textarea:focus {
        border:1px solid #7F635F;
    } 
    
    form {
        width:680px;
    }
       
    form input[type=submit] {border:0px; background: #222 url(../img/alert-overlay.png) repeat-x; display: inline-block;padding: 5px 10px 6px;color: #fff;text-decoration: none;font-weight: bold;line-height: 1;-moz-border-radius: 5px;-webkit-border-radius: 5px;-moz-box-shadow: 0 1px 3px #999;-webkit-box-shadow: 0 1px 3px #999;text-shadow: 0 -1px 1px #222;border-bottom: 1px solid #222;position: relative;cursor: pointer;font-size: 14px;padding: 6px 12px 7px;}
    form input[type=submit]:hover { background-color: #111; color: #fff; }
    form input[type=submit]:active { top: 1px; }
    

    
    .error {
        border:1px solid red!important;
    }
    .error-msg {
        color:red!important;
    }
    
		
	div#content .add-icon {
	    height:20px;
	    display:inline-block;
	    background: url(../img/icons.png) no-repeat scroll 0 0 transparent;
	    padding-left:25px;
	    font-size:12px;
	}
	div#content .delete-icon {
	    height:20px;
	    display:inline-block;
	    background: url(../img/icons.png) no-repeat scroll 0 -100px transparent;
	    padding-left:25px;
	    font-size:12px;
	}

	div#content .view-icon {
	    height:20px;
	    display:inline-block;
	    background: url(../img/icons.png) no-repeat scroll 0 -150px transparent;
	    padding-left:25px;
	    font-size:12px;
	}	

	
    div#content .buzz-list, .settings-list {
        width:660px;
        border:0px solid #ddd;
        padding:0px;
        margin-top:10px;
    }
    div#content .buzz, .settings-item {
        border:1px solid #ddd;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        padding:5px;
        margin-bottom:15px;
        -moz-box-shadow: 3px 3px 5px #777;
        -webkit-box-shadow: 3px 3px 5px #777;
        box-shadow: 3px 3px 5px #777;         
    }
    
    div#content .buzz-title, .settings-item-name {
        font-size:14px;
        font-weight:bold;
        padding: 5px;
        background:#efefef;
        border-bottom:1px solid #ddd;
    }

    div#content .buzz-content, .settings-item-value {
        color:#777;
    }
    
    div#content .partners-list {
        float:left;
    }
    
    div#content .partner {
        float:left; width: 175px;
        /*border:3px dotted #453A31;*/
        margin-left:20px;
        margin-bottom:20px;
        padding:10px 10px 0 0;
        background:#f3f3f3;
        -moz-border-radius:8px;
        -webkit-border-radius:8px; 
        -moz-box-shadow: 0 0 1em #777;
        -webkit-box-shadow: 0 0 1em #777;
        box-shadow: 0 0 1em #777;                  
    }
    
	#uploaded-files img,  .partners-list img{
	    border: 2px solid #ddd;
	    -moz-border-radius:3px;
	    -webkit-border-radius:3px;
	    padding:2px;
	    margin-left:10px;
	}
    
.right {
    float:right!important;
}
		
.hidden {
    display:none;
}  

.center {
    text-align:center;
}  
    
div#errors {
    border:1px solid #ED6966;
    background:#FFBDAD;
    color: #111;
    font-weight:bold;
    padding:10px;
    width:680px;
}

div#footer {
    border:0px solid #ccc;
    background:#453A31;
    color:#f5f5f5;
	font-size:11px;
	margin-top:30px;
	margin-bottom:0px !important;
	padding:20px 0 20px 0;
	text-align:center;
	width:100%;
}